@page "/transfers/newtransfer"
@inject NavigationManager NavigationManager
@inject ITransfersService TransferService

<h1>New Transfer</h1>

<p>
    <button class="btn btn-secondary" @onclick="NavigateToContacts">Contacts</button>
</p>

<div class="row">
    <div class="col-md-4">
        <EditForm Model="@transferModel" OnValidSubmit="@HandleSubmit">
            <DataAnnotationsValidator />            

            <div class="form-group">
                <label for="ReceiverName">Receiver name</label>
                <InputText id="ReceiverName" @bind-Value="transferModel.ReceiverName" class="form-control" />
                <ValidationMessage For="@(() => transferModel.ReceiverName)" />
            </div>
            
            <div class="form-group">
                <label for="ReceiverAccountNumber">Receiver account number</label>
                <InputText id="ReceiverAccountNumber" @bind-Value="transferModel.ReceiverAccountNumber" class="form-control" />
                <ValidationMessage For="@(() => transferModel.ReceiverAccountNumber)" />
            </div>

            <div class="form-group">
                <label for="Amount">Amount</label>
                <InputNumber id="Amount" @bind-Value="transferModel.Amount" class="form-control" />
                <ValidationMessage For="@(() => transferModel.Amount)" />
            </div>

            <div class="form-group">
                <label for="Title">Title</label>
                <InputText id="Title" @bind-Value="transferModel.Title" class="form-control" />
                <ValidationMessage For="@(() => transferModel.Title)" />
            </div>

            <div class="form-group">
                <InputCheckbox id="AddToContacts" @bind-Value="addToContacts" />
                <label for="AddToContacts">Add To Contacts</label>
            </div>

            <button type="submit" class="btn btn-success">Send</button>
        </EditForm>
    </div>
</div>

<div>
    <button class="btn btn-primary" @onclick="NavigateToTransfers">Back to List</button>
</div>

@code {
    private NewTransferVM transferModel = new NewTransferVM();
    private bool addToContacts;

    private void NavigateToContacts()
    {
        NavigationManager.NavigateTo("/contacts/contacts");
    }

    private void NavigateToTransfers()
    {
        NavigationManager.NavigateTo("/transfers/transfers");
    }

    private async Task HandleSubmit()
    {
        bool response = await TransferService.CreateTransfer(transferModel);

        if(response)
        {
            NavigateToTransfers(); 
        }

    }
}


@* <div class="row">
    <div class="col-md-4">
        <form asp-action="NewTransfer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReceiverName" class="control-label"></label>
                <input asp-for="ReceiverName" class="form-control" />
                <span asp-validation-for="ReceiverName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverAccountNumber" class="control-label"></label>
                <input asp-for="ReceiverAccountNumber" class="form-control" />
                <span asp-validation-for="ReceiverAccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="AddToContacts">
                            <input asp-for="AddToContacts" />
                        @Html.DisplayNameFor(m => m.AddToContacts)
                        </label>
                    </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-success" />
            </div>
        </form>
    </div>
</div> *@
