@page "/transfers/newtransfer"
@page "/transfers/newtransfer/{Name}/{AccountNumber}"
@inject NavigationManager NavigationManager
@inject ITransfersService TransferService

<h1>New Transfer</h1>

<div>
    <button class="btn btn-secondary" @onclick="NavigateToContacts">Contacts</button>
</div>

<div class="row">
    <div class="col-md-4">
        <EditForm Model="@transferModel" OnValidSubmit="@HandleSubmit">
            <DataAnnotationsValidator />            

            <div class="form-group">
                <label for="ReceiverName">Receiver name</label>
                <InputText id="ReceiverName" @bind-Value="transferModel.ReceiverName" class="form-control" />
                <ValidationMessage For="@(() => transferModel.ReceiverName)" />
            </div>
            
            <div class="form-group">
                <label for="ReceiverAccountNumber">Receiver account number</label>
                <InputText id="ReceiverAccountNumber" @bind-Value="transferModel.ReceiverAccountNumber" class="form-control" />
                <ValidationMessage For="@(() => transferModel.ReceiverAccountNumber)" />
            </div>

            <div class="form-group">
                <label for="Amount">Amount</label>
                <InputNumber id="Amount" @bind-Value="transferModel.Amount" class="form-control" />
                <ValidationMessage For="@(() => transferModel.Amount)" />
            </div>

            <div class="form-group">
                <label for="Title">Title</label>
                <InputText id="Title" @bind-Value="transferModel.Title" class="form-control" />
                <ValidationMessage For="@(() => transferModel.Title)" />
            </div>

            <div class="form-group">
                <InputCheckbox id="AddToContacts" @bind-Value="addToContacts" />
                <label for="AddToContacts">Add To Contacts</label>
            </div>

            <button type="submit" class="btn btn-success">Send</button>
        </EditForm>
    </div>
</div>

<div>
    <button class="btn btn-primary" @onclick="NavigateToTransfers">Back to List</button>
</div>

@code {
    [Parameter]
    public string Name { get; set; } = string.Empty;
    [Parameter]
    public string AccountNumber { get; set; } = string.Empty;

    private NewTransferVM transferModel = new NewTransferVM();
    private bool addToContacts;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        transferModel.ReceiverName = Name;
        transferModel.ReceiverAccountNumber = AccountNumber;
    }

    private void NavigateToContacts()
    {
        NavigationManager.NavigateTo("/contacts/contacts");
    }

    private void NavigateToTransfers()
    {
        NavigationManager.NavigateTo("/transfers/transfers");
    }

    private async Task HandleSubmit()
    {
        bool response = await TransferService.CreateTransfer(transferModel);

        if(response)
        {
            NavigateToTransfers(); 
        }

    }
}

