@page "/savingstransfers"
@attribute [Authorize(Roles = $"{Constants.USER} , {Constants.TESTUSER}")]
@inject ITransfersService _transfersService
@inject IAccountsService _accountsService

@if (isLoading)
{
    <_LoadingData Message="Loading transactions..."></_LoadingData>
}
else
{
    <div class="container mt-4">
        <div class="row mb-3 justify-content-center">
            <div class="col-8">
                <_SavingsAccountView SavingsAccount="@SavingsAccount"></_SavingsAccountView>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <_SavingsAccountTransfersList
                    SavingsAccount="@SavingsAccount"
                    GroupedTransfers="@Model.GroupedTransfers"
                    CurrentPage="@Model.CurrentPage"
                    TotalPages="@Model.TotalPages"
                    OnPageChange="ReloadDataAsync">
                </_SavingsAccountTransfersList>
            </div>
        </div>
    </div>
}

@code {
    private SavingsAccountVM SavingsAccount = new();
    private TransfersOverviewVM Model = new();
    private bool isLoading = false;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        SavingsAccount = await _accountsService.GetUsersSavingsAccountAsync();
        Model = await _transfersService.GenerateTransfersOverviewVM(SavingsAccount.Number);
        isLoading = false;
    }

    private async Task ReloadDataAsync(int pageNumber)
    {
        Model = await _transfersService.GenerateTransfersOverviewVM(SavingsAccount.Number, pageNumber);
    }
}
