@page "/transfers"
@inject ITransfersService TransfersService
@inject NavigationManager NavigationManager


<h1>Transfers</h1>

@if(transfers is null)
{
    <div>Loading...</div>
}
else
{
        <div>
        <button class="btn btn-success" @onclick="NavigateToNewTransfer">New Transfer</button>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Title</th>
                    <th>Amount</th>
                    <th>Send date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var transfer in transfers)
                {
                    if (transfer.SenderAccountNumber.Equals(accountNumber))
                    {
                        <tr>
                            <td>@transfer.SenderName</td>
                            <td>@transfer.ReceiverName</td>
                            <td>@transfer.Title</td>
                            <td>-@transfer.Amount</td>
                            <td>@transfer.SendTime.ToShortDateString()</td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>@transfer.SenderName</td>
                            <td>@transfer.ReceiverName</td>
                            <td>@transfer.Title</td>
                            <td>@transfer.Amount</td>
                            <td>@transfer.SendTime.ToShortDateString()</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}


@code {
    private List<TransferVM> transfers = new();
    private string accountNumber = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        transfers = await TransfersService.GetTransfersAsync();
        accountNumber = await TransfersService.GetCurrentAccountNumberAsync();
    }

    private void NavigateToNewTransfer()
    {
        NavigationManager.NavigateTo("/transfers/newtransfer");
    }
}
