@page "/transfers/index"


<h1>Transfers</h1>
<hr />

<p>
    <a asp-action="NewTransfer" class="btn btn-success">New Transfer</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Sender/Receiver</th>
            <th>Title</th>
            <th>Amount</th>
            <th>Send date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OutgoingTransfers)
        {
            <tr>
                <td>@item.ReceiverName</td>
                <td>@item.Title</td>
                <td>-@item.Amount</td>
                <td>@item.SendTime.ToShortDateString()</td>
            </tr>
        }
        @foreach (var item in Model.IncomingTransfers)
        {
            <tr>
                <td>@item.SenderName</td>
                <td>@item.Title</td>
                <td>+@item.Amount</td>
                <td>@item.SendTime.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>

@code {

}
