@inject NavigationManager _navigationManager

    <div class="card shadow">
        <div class="card-header d-flex justify-content-center">
            <h1>Transfers</h1>
        </div>
        <div class="card-body">
            <div class="mb-2 d-flex justify-content-end">
                <MudButton Variant="Variant.Filled" Color="Color.Success" EndIcon="@Icons.Material.Filled.Send" OnClick="NavigateToNewTransfer">
                    New Transfer
                </MudButton>
            </div>
            @foreach(var group in GroupedTransfers)
            {
                <ul class="list-group list-group">

                    <li class="list-group-item d-flex justify-content-between">
                        <div><strong>@group.Key.ToString()</strong></div>
                        <div><strong>EUR</strong></div>
                    </li>

                    @foreach (var transfer in group)
                    {
                        <li class="list-group-item d-flex justify-content-between">
                            <div class="d-inline">
                                @(CurrentAccount.Name == transfer.ReceiverName ? transfer.SenderName : transfer.ReceiverName)
                            </div>
                            <div class="d-inline">
                                @if (CurrentAccount.Number == transfer.ReceiverAccountNumber)
                                {
                                    <div style="@("background: #dff0d8")">+@transfer.Amount</div>
                                }
                                else
                                {
                                    <div>-@transfer.Amount</div>
                                }
                            </div>
                        </li>
                    }
                </ul>
            }
        </div>
        <div class="card-footer d-flex justify-content-center">
            <MudPagination BoundaryCount="3" Count="@TotalPages" SelectedChanged="HandlePageChange"></MudPagination>
        </div>
    </div>


@code {
    [Parameter]
    public TransactionalAccountVM CurrentAccount { get; set; } = new();

    [Parameter]
    public List<IGrouping<DateOnly, TransferVM>> GroupedTransfers { get; set; } = new();

    [Parameter]
    public int CurrentPage { get; set; }

    [Parameter]
    public int TotalPages { get; set; }

    [Parameter]
    public EventCallback<int> OnPageChange { get; set; }

    private async Task HandlePageChange(int pageNumber)
    {
        CurrentPage = pageNumber;
        await OnPageChange.InvokeAsync(pageNumber);
    }

    private void NavigateToNewTransfer()
    {
        _navigationManager.NavigateTo("/transfers/newtransfer");
    }
}
