@page "/dashboard/deposit"
@inject NavigationManager NavManager
@inject IDashboardService DashboardService

<PageTitle>Deposit</PageTitle>

@if(Model.TransactionalAccount == null || Model.SavingsAccount == null)
{
    <p>Loading...</p>
}
else
{
    <div class="row mb-3 mt-2">
        <div class="col-3">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">Current account</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText>Account name: @Model.TransactionalAccount.Name</MudText>
                    <MudText>Account number: @Model.TransactionalAccount.Number</MudText>
                    <MudText>Balance: @Model.TransactionalAccount.Balance</MudText>
                </MudCardContent>
            </MudCard>
        </div>
        <div class="col-3">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5">Savings account</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText>Account name: @Model.SavingsAccount.Name</MudText>
                    <MudText>Account number: @Model.SavingsAccount.Number</MudText>
                    <MudText>Balance: @Model.SavingsAccount.Balance</MudText>
                </MudCardContent>
            </MudCard>
        </div>
    </div>
}

<EditForm Model="@Model" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" sm="6">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h4">Deposit</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudTextField Label="Amount" @bind-Value="Model.Amount" For="@(() => Model.Amount)" />
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success">Deposit</MudButton>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="NavigateToDashboard">Back</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>

@code {
    public DepositVM Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadModel();
    }

    private async Task LoadModel()
    {
        Model.TransactionalAccount = await DashboardService.GetCurrentAccountAsync();
        Model.SavingsAccount = await DashboardService.GetSavingsAccountAsync();
    }

    private async Task HandleSubmit()
    {
        bool response = await DashboardService.DepositOnSavingsAccountAsync(Model);
        if (response)
        {
            NavigateToDashboard();
        }
    }

    private void NavigateToDashboard()
    {
        NavManager.NavigateTo("/dashboard");
    }
}
