@page "/authentication/register"
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthenticationService

<PageTitle>Registration</PageTitle>

<h3 class="mb-3">Register</h3>

@if(!string.IsNullOrEmpty(Message))
{
    <div class="alert alert-danger">@Message</div>   
}

<div class="row">
    <div class="col-md-4">
        <EditForm Model="@Model" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />

            <div class="form-group mb-2">
                <label for="Email">Email</label>
                <InputText id="Email" @bind-Value="Model.Email" class="form-control" />
                <ValidationMessage For="@(() => Model.Email)" />
            </div>

            <div class="form-group mb-2">
                <label for="UserName">User name</label>
                <InputText id="UserName" @bind-Value="Model.UserName" class="form-control" />
                <ValidationMessage For="@(() => Model.UserName)" />
            </div>

            <div class="form-group mb-2">
                <label for="Password">Password</label>
                <InputText type="password" id="Password" @bind-Value="Model.Password" class="form-control" />
                <ValidationMessage For="@(() => Model.Password)" />
            </div>

            <div class="form-group mb-2">
                <label for="ConfirmPassword">Confirm password</label>
                <InputText type="password" id="ConfirmPassword" @bind-Value="Model.ConfirmPassword" class="form-control" />
                <ValidationMessage For="@(() => Model.ConfirmPassword)" />
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </EditForm>
    </div>
</div>

@code {
    public RegisterVM Model { get; set; } = new();
    public string Message { get; set; } = string.Empty;

    private async Task HandleSubmit()
    {
        var result = await AuthenticationService.RegisterAsync(Model);

        if(result)
        {
            NavigationManager.NavigateTo("authentication/login");
        }
        Message = "Something went wrong, please try again.";
    }
}
