@page "/authentication/register"
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthenticationService

<PageTitle>Registration</PageTitle>

@if(Messages.Any())
{
    foreach(var message in Messages)
    {
        <div class="alert alert-danger">@message</div>   
    }
}

<div class="d-flex justify-content-center align-items-center mt-5">
    <MudPaper Elevation="4" Class="p-4" Style="max-width: 500px; width: 100%;">
        <EditForm Model="@Model" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <MudCard Class="shadow-none" Style="border: none;">
                        <MudCardHeader Class="text-center">
                            <MudText Typo="Typo.h4" Class="mx-auto">Register</MudText>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudTextField Label="User name"
                                          @bind-Value="Model.UserName"
                                          For="@(() => Model.UserName)"
                                          FullWidth="true"
                                          Class="mb-3" />
                            <MudTextField Label="Email"
                                          @bind-Value="Model.Email"
                                          For="@(() => Model.Email)"
                                          FullWidth="true"
                                          Class="mb-3" />
                            <MudTextField Label="Password"
                                          HelperText="Choose a strong password"
                                          @bind-Value="Model.Password"
                                          For="@(() => Model.Password)"
                                          InputType="InputType.Password"
                                          FullWidth="true"
                                          Class="mb-3" />
                            <MudTextField Label="Confirm Password"
                                          HelperText="Repeat the password"
                                          @bind-Value="Model.ConfirmPassword"
                                          For="@(() => Model.ConfirmPassword)"
                                          InputType="InputType.Password"
                                          FullWidth="true" />
                        </MudCardContent>
                        <MudCardActions Class="justify-content-center">
                            <MudButton ButtonType="ButtonType.Submit"
                                       Variant="Variant.Filled"
                                       Color="Color.Primary"
                                       Class="mt-3" Style="width: 100%;">Register</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
</div>


@code {
    public RegisterVM Model { get; set; } = new();
    public List<string> Messages { get; set; } = new();

    private async Task HandleSubmit()
    {
        var registrationResult = await AuthenticationService.RegisterAsync(Model);

        if (registrationResult.Succeeded)
        {
            NavigationManager.NavigateTo("authentication/login");
        }
        Messages = registrationResult.Errors.ToList();
    }
}
