@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <MudIconButton Icon="@Icons.Custom.Brands.GitHub"  aria-label="github"
                           Href="https://github.com/tomekaks">
            </MudIconButton>
            <MudIconButton Icon="@Icons.Custom.Brands.LinkedIn"  aria-label="linkedin"
                           Href="https://www.linkedin.com/in/tomasz-cie%C5%9Blukowski-716486247/">
            </MudIconButton>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@*<MudLayout>
    <MudAppBar>
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        My Application
    </MudAppBar>
    <MudDrawer @bind-Open="@_drawerOpen">
        <MyNavMenu/>
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
*@